body {
    background-image: url("../images/barbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#header {
    color: white;
    text-align: center;
    font-size: 48px;
    height: 100px;
    width: 600px;
    padding-top: 44px;
    background: #74A1AC;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 5px;
    margin-top: 50px;
    border: 2px solid white;
}

#beerBtn {
    margin-bottom: 20px;
    height: 100px;
    width: 400px;
    border-radius: 3px;
    font-size: 24px;
    color:#461D1F;
    background-color:#EDB46F;
    margin-left: 400px;
}

#cocktailBtn {
    height: 100px;
    width: 400px;
    border-radius: 3px;
    font-size: 24px;
    color:#461D1F;
    background-color:#EDB46F;
    margin-left: 400px;
}

#buttonHolder {
    text-align: center;
}

#searchBeer {
    margin-bottom: 20px;
    height: 50px;
    width: 300px;
    font-size: 24px;
    margin-left: 400px;
}

#searchCocktail {
    margin-bottom: 20px;
    height: 50px;
    width: 300px;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 400px;
}

.pageCounter {
    height: 18px;
    width: 355px;
    color: white;
    background-color: #74A1AC;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 2px;
    padding-left: 0.2px;
    border: 1px solid white;
}

p{
    width: 300px;
    height: 500px;
    background: white;
    position: absolute;
    margin: 0 0 0 150px;
}
#yelploc {
    width: 300px;
    height: 500px;
    background: white;
    position: absolute;
    margin: 0 0 0 1000px;
    
}

#foto{
    width: 100px;
}